{% extends "base.html" %} {% block title %} Essays {% endblock %} {% block content
%}
<h2 class="">Essays</h2>

<br />
{% for post in posts %}
<a
  href="{{ url_for('post', name=post.path.replace('essays/', '')) }}"
  class="text-decoration-none">
  <div
    class="container bg-dark list-group-item mb-2 text-light border-secondary rounded">
    <div class="row justify-content-between align-items-center">
      <div class="col">{{ post.title }}</div>
      <div class="col text-right">
        <span class="badge badge-pill bg-primary text-white"
          >{{ post.meta.date }}</span
        >
      </div>
    </div>
  </div>
</a>
{% endfor %} {% endblock %}