{% extends "base.html" %}

{% block title %} Ruthvik Mukkamala {% endblock %}

{% block content %}
<div class="container">
  <div class="d-flex align-items-start">
    <div class="mr-4">
{#      <img#}
{#        src="{{ url_for('static', filename='images/ruthvik_profile_pic.jpeg') }}"#}
{#        class="img-fluid rounded border-dark"#}
{#        alt="Ruthvik Mukkamala"#}
{#        width="200"#}
{#        height="200"/>#}
    </div>
    <div class="p-4 border border-dark flex-fill">
      <p class="text-dark">
        Hi, my name is Ruthvik Mukkamala.
        <br><br>
        I like quantitative research for financial markets, machine learning, and computer vision.
        <br><br>
        In university I started Roebling Research LLC, a small fund to test quantitative equity strategies and fundamental investing. I recently shut down to focus on AI/LLM
        development.

        My 2023 performance was 30%, 2024 performance was 25%. Trade receipts available upon request.
        I ran a diversified, sector agnostic strategy that had low correlation between positions. I strongly believe in factor investing, and am comfortable with using
        macroeconomic indicators to inform investment decisions.

        <br><br>
        The ability to use AI/LLM tools will be an existential component for the future of investing. I interpret finance as a quasi-science - a good analogy we have of our current understanding of finance
        is that of a periodic table of elements. We can understand certain properties and relationship between assets, but we are limited to conclusive understanding by the data we have.
        AI/LLM tools are the way to unlock this new frontier of finance through the ability to analyze more structured/unstructured
       data sets. I believe that we will get to a significantly better approximation of factor investing through the use of AI/LLM tools.

        <br><br>
        After graduating from university, I will be joining a NX1 Capital L.P founded by very talented fundamental and discretionary investors where I will help build LLM tools.



        <br><br>
          I have also shared my trained Physics Informed Neural Networks paper on equity options to improve research for options pricing.
        <br><br>
        I have also previously worked as a developer for the Macro Quant Development Team at Balyasny Asset Management in 2023. I also worked at HIFI, a music-tech startup acquired by Block in 2022 as a software engineering intern. I loved the focus of a lean team passionate about building financial services for a targeted audience.
        <br><br>
      </p>
    </div>
  </div>

{#  <div class="d-flex mb-3 mt-4 justify-content-center">#}
{#    <a#}
{#      class="btn btn-light mx-1 text-dark mt-2 border border-secondary"#}
{#      href="mailto:{{ email }}"#}
{#      target="_blank"#}
{#      rel="noopener noreferrer">#}
{#      <span class="fa fa-envelope"></span> Email#}
{#    </a>#}
{#    <a#}
{#      class="btn btn-light mx-1 text-dark mt-2 border border-secondary"#}
{#      href="{{ github }}"#}
{#      target="_blank"#}
{#      rel="noopener noreferrer">#}
{#      <span class="fa fa-github"></span> GitHub#}
{#    </a>#}
{#    <a#}
{#      class="btn btn-light mx-1 text-dark mt-2 border border-secondary"#}
{#      href="{{ linkedin }}"#}
{#      target="_blank"#}
{#      rel="noopener noreferrer">#}
{#      <span class="fa fa-linkedin"></span> LinkedIn#}
{#    </a>#}
{#    <a#}
{#      class="btn btn-light mx-1 text-dark mt-2 border border-secondary"#}
{#      href="{{ twitter }}"#}
{#      target="_blank"#}
{#      rel="noopener noreferrer">#}
{#      <span class="fa fa-twitter"></span> Twitter#}
{#    </a>#}
{#  </div>#}
</div>
{% endblock %}
