{% extends "base.html" %}

{% block title %} Personal {% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex align-items-start ">
    <div class="mr-4">
    </div>
    <div class="p-4 border border-dark flex-fill">
      <p class="text-dark">
        "Learn from the past. Live in the present. Build for the future."

          <br><br>
           Basically embodies everything I learned.

          <hr>

          Currently I am student at <strong> New York University Courant School of Mathematical Sciences </strong> and <strong> Tandon
          School of Engineering </strong> studying Applied Mathematics and Computer Science. Here is my
          <a href="https://www.dropbox.com/scl/fi/zch2dt6rkyc2uohlk8g15/Mukkamala-Ruthvik-Resume.pdf?rlkey=binnt9ta4zur0swiw2k7uo5sr&st=wu2c7km0&dl=0" >resume.</a>

          While at Tandon, I have been awarded a honors merit scholarship providing me with a $10,000 yearly stipend to
        pursue my research endeavors. Because of the program, I have traveled abroad to NYU Abu Dhabi, conducted international
        service trips in India, built a high performance machine learning models due to equipment reimbursements,
        prepared for graduate school, and met an incredible cohort of peers. GLASS made my NYU experience. Thanks to
        Dean Jelena, Kat, Colby, Jen, and Mohamed for the time.

          <br><br>

          While on campus I have done research with some notable mathematicians and researchers. In 2023, with
          Dr. Nader Masmoudi where I researched Physics-Informed Neural Networks to help solve PDEs. I open sourced my code.
          I personally found incredible uses for solving some vanilla/exotic macro derivatives - which I am writing my senior
          thesis on (advised by Dr. Agnes Tourin).

         <br><br>

          In 2024, I am worked at the NYU Summer Research Program x MIT Energy Initiative with Dr. Dharik Mallapragda,
        researching the efficacy of hourly energy matching for a de-carbonized grid. Will publish a paper in the coming
        months.


         <br><br>

        I am also President of New York University's Robotics Club an 80+ member club with over 400 registered participants.
        While I was in middle and high school, robotics was my passion. I remember that I could not concentrate in classes, since I was
        too excited for after-school robotics. I felt robotics was a transcendental experience where seeing something you create behave as you
        intend. I glad I can now help manage career fairs, AI, and computer vision research seminars for the club and continue
        my love for the subject.


        <br><br>








      </p>
    </div>


  </div>


</div>
{% endblock %}
