{% extends "base.html" %}

{% block title %} Personal {% endblock %}

{% block content %}
<div class="container">
  <div class="d-flex align-items-start">
    <div class="mr-4">
    </div>
    <div class="p-4 border border-dark flex-fill">
      <p class="text-dark">
        "Learn from the past. Live in the present. Build for the future."

          <br><br>
          Somehow I don't think I heard this quote before, so I'll claim it. It basically embodies everything
          I learned.

      </p>
    </div>
  </div>


</div>
{% endblock %}
