{% extends "base.html" %}

{% block title %} Research {% endblock %}

{% block content %}


<div class="container">
  <div class="d-flex align-items-start ">
    <div class="mr-4">
    </div>
    <div class="p-4 border border-dark flex-fill">
      <p class="text-dark">
        Here I will share all the resources I have found helpful with academic research in topics I
          have found interesting.

      </p>

        <hr>

        <div class="container">
        <span class="border border-dark p-2 rounded">&#27030;</span>
            Algorithms
            <br><br>
            <span class="border border-dark p-2 rounded">&#32205;</span>
            AI/ML
            <br><br>
        <span class="border border-dark p-2 rounded">&#16883;</span>
            Financial Mathematics/Quantitative Research
            <br><br>
        <span class="border border-dark p-2 rounded">&#17630;</span>
            Finance
            <br><br>

        </div>

    </div>


  </div>


</div>
{% endblock %}
